{% extends "sfdBundle::layout.html.twig" %}
{% block body %}
    <div class="h-top" id="home">
        <div class="top-header">
            <ul class="cl-effect-16 top-nag">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <li><a href={{ path('sfd_services') }} data-hover="SERVICES">Services</a></li>
                {% endif %}
                <li><a href={{ path('sfd_events') }} data-hover="EVENTS">Events</a></li>
                <li><a href={{ path('sfd_news') }} data-hover="NEWS">News</a></li>
                <li><a href="{{ path('sfd_jobs') }}" data-hover="JOBS">jobs</a></li>
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <li><a href={{ path('fos_user_security_logout') }} data-hover="LOGOUT">Logout</a></li>
                {% else %}
                    <li><a href={{ path('sfd_login') }} data-hover="Login">Login</a></li>
                    <li><a href={{ path('fos_user_registration_register') }} data-hover="Registration">Registration</a></li>
                {% endif %}

            </ul>
            <div class="search-box">
                <div class="b-search">
                    <form>
                        <input type="text" value="Search" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}">
                        <input type="submit" value="">
                    </form>
                </div>
            </div>

            <div class="clearfix"></div>
        </div>
    </div>


    <!-- carousel Section -->
    <div id="carousel">
        <div id="osahan-slider" class="owl-carousel owl-theme">
            <div class="item">
                <img class="slider-img" src="{{asset('osahan/images/slider/first.jpg')}}" title="im1" alt="">

            </div>

        </div>
    </div>




    <!-- Welcome Panel Section -->
    <div class="section testimonials " >
        <div class="container text-center">
            <div class="title text-center">
                <h1>Sondage</h1>
                <p><h2>Sondage<br><br><br>

                    {{ s.title }}</h2></p>
            </div> <!-- /.title -->
               <br>
                <br>
            <form action="{{ path('sfd_son') }}" method="post">
                        <input type="radio" name="son"  value="oui"> oui
                        <input type="radio" name="son" value="non" > non
                        <input type="radio"  name="son" value="any"> je m'en fou

                  <div class="text-center blog-btns">
                      <button type="submit" id="vote_save" name="button" class="btn btn-info">Save</button>
                      </div>
</form>
        </div>
    </div>




<div class="section gallery">
    <div class="title text-center">
        <span>Lorem ipsum</span>
        <h1>Responsive gallery</h1>
        <p>Phasellus eleifend ex enim, non viverra justo pretium vel.</p>
    </div>
    <div class="container gal-container">
        <div class="col-md-6 col-sm-12 co-xs-12 gal-item">
            <div class="box">
                <a href="#" data-toggle="modal" data-target="#1">
                    <img src="{{ asset('osahan/images/gallery-09.jpg') }}">
                </a>
                <div class="modal fade" id="1" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                            <div class="modal-body">
                                <img src="{{ asset('osahan/images/gallery-09.jpg') }}">
                            </div>
                            <div class="col-md-12 description">
                                <h4>This is the first one on my Gallery</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 co-xs-12 gal-item">
            <div class="box">
                <a href="#" data-toggle="modal" data-target="#2">
                    <img src="{{ asset('osahan/images/gallery-09.jpg') }}">
                </a>
                <div class="modal fade" id="2" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                            <div class="modal-body">
                                <img src="{{ asset('osahan/images/gallery-09.jpg') }}">
                            </div>
                            <div class="col-md-12 description">
                                <h4>This is the second one on my Gallery</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 co-xs-12 gal-item">
            <div class="box">
                <a href="#" data-toggle="modal" data-target="#3">
                    <img src="{{ asset('osahan/images/gallery-09.jpg') }}">
                </a>
                <div class="modal fade" id="3" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                            <div class="modal-body">
                                <img src="{{ asset('osahan/images/gallery-09.jpg') }}">
                            </div>
                            <div class="col-md-12 description">
                                <h4>This is the third one on my Gallery</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
            <div class="box">
                <a href="#" data-toggle="modal" data-target="#7">
                    <img src="{{ asset('osahan/images/gallery-09.jpg') }}">
                </a>
                <div class="modal fade" id="7" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                            <div class="modal-body">
                                <img src="{{ asset('osahan/images/gallery-09.jpg') }}">
                            </div>
                            <div class="col-md-12 description">
                                <h4>This is the seventh one on my Gallery</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
            <div class="box">
                <a href="#" data-toggle="modal" data-target="#8">
                    <img src="{{ asset('osahan/images/gallery-09.jpg') }}">
                </a>
                <div class="modal fade" id="8" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                            <div class="modal-body">
                                <img src="{{ asset('osahan/images/gallery-09.jpg') }}">
                            </div>
                            <div class="col-md-12 description">
                                <h4>This is the eighth one on my Gallery</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
            <div class="box">
                <a href="#" data-toggle="modal" data-target="#9">
                    <img src="{{ asset('osahan/images/gallery-09.jpg') }}">
                </a>
                <div class="modal fade" id="9" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                            <div class="modal-body">
                                <img src="{{ asset('osahan/images/gallery-09.jpg') }}">
                            </div>
                            <div class="{{ asset('osahan/images/gallery-09.jpg') }}">
                                <h4>This is the ninth one on my Gallery</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
            <div class="box">
                <a href="#" data-toggle="modal" data-target="#5">
                    <img src="{{ asset('osahan/images/gallery-09.jpg') }}">
                </a>
                <div class="modal fade" id="5" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                            <div class="modal-body">
                                <img src="{{ asset('osahan/images/gallery-09.jpg') }}">
                            </div>
                            <div class="col-md-12 description">
                                <h4>This is the fifth one on my Gallery</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2 col-sm-6 co-xs-12 gal-item">
            <div class="box">
                <a href="#" data-toggle="modal" data-target="#6">
                    <img src="{{ asset('osahan/images/gallery-09.jpg') }}">
                </a>
                <div class="modal fade" id="6" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                            <div class="modal-body">
                                <img src="{{ asset('osahan/images/gallery-09.jpg') }}">
                            </div>
                            <div class="col-md-12 description">
                                <h4>This is the sixth one on my Gallery</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 co-xs-12 gal-item">
            <div class="box">
                <a href="#" data-toggle="modal" data-target="#4">
                    <img src="{{ asset('osahan/images/gallery-09.jpg') }}">
                </a>
                <div class="modal fade" id="4" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                            <div class="modal-body">
                                <img src="{{ asset('osahan/images/gallery-09.jpg') }}">
                            </div>
                            <div class="col-md-12 description">
                                <h4>This is the fourth one on my Gallery</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


    <!-- Blog Panel Section -->
    <div class="section section-blog">
        <div class="spacer">
            <div class="container">
                <div class="title text-center">
                    <h1>Derniers actulités</h1>
                </div> <!-- /.title -->

                <div class="row">
                    <div class="col-sm-4">
                        <div class="blog-post post-image">
                            <a class="blog-title" href="#">
                                <img class="img-responsive" src="{{ asset('osahan/images/blog-01.jpg')}}" alt="">
                                Lorem ipsum dolor sit amet
                            </a>
                            <span class="small-text blog-time">25 December, 2015</span>
                            <p>Nunc sed dui quis orci imperdiet auctor. Nam eleifend libero
                                non diam gravida tincidunt. Mauris porttitor ante augue, ac blandit
                                magna lobortis.</p>
                        </div> <!-- /.blog-post -->
                    </div> <!-- /.col-sm-4 -->

                    <div class="col-sm-4">
                        <div class="blog-post post-image">
                            <!-- /.blog-slider -->
                            <a class="blog-title" href="#">
                                <img class="img-responsive" src="{{ asset('osahan/images/blog-02.jpg')}}" alt="">
                                Lorem ipsum dolor sit amet</a>
                            <span class="small-text blog-time">28 December, 2015</span>
                            <p>Fusce scelerisque interdum felis, eget pellentesque quam
                                finibus et. Donec condimentum consectetur condimentum. Fusce volutpat...</p>
                        </div> <!-- /.blog-post -->
                    </div> <!-- /.col-sm-4 -->
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="blog-post post-image">
                                <a class="blog-title" href="#">
                                    <img class="img-responsive" src="{{ asset('osahan/images/blog-01.jpg')}}" alt="">
                                    Lorem ipsum dolor sit amet
                                </a>
                                <span class="small-text blog-time">25 December, 2015</span>
                                <p>Nunc sed dui quis orci imperdiet auctor. Nam eleifend libero
                                    non diam gravida tincidunt. Mauris porttitor ante augue, ac blandit
                                    magna lobortis.</p>
                            </div> <!-- /.blog-post -->
                        </div> <!-- /.col-sm-4 -->


                </div> <!-- /.row -->

            </div> <!-- /.container-fluid -->
        </div> <!-- /.spacer -->
    </div>
    <!-- End Blog Panel Section -->

</div>



    <!-- Footer -->

    <!-- /.container -->

    <!-- jQuery -->
    <script src="{{ asset('osahan/js/jquery.js')}}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ asset('osahan/js/bootstrap.min.js')}}"></script>

    <!-- Owl Carousel -->
    <script type="text/javascript" src="{{ asset('osahan/owl-carousel/owl.carousel.js')}}"></script>
    <script type="text/javascript">
        jQuery(document).ready(function($) {
            if ($("#customers").length > 0) {
                $("#customers").owlCarousel({
                    items: 6,
                    lazyLoad: true,
                    pagination: true,
                    autoPlay: 2000,
                    stopOnHover: true
                });
            }
            $("#osahan-slider").owlCarousel({
                slideSpeed : 300,
                autoPlay : true,
                navigation : true,
                pagination : true,
                singleItem:true
            });
            $("#testimonials").owlCarousel({
                slideSpeed : 300,
                autoPlay : true,
                navigation : false,
                pagination : true,
                singleItem:true
            });
        });
    </script>




{% endblock %}
